<div class="song-finder">
  <input type="search" ng-model="search.query" placeholder="search" autofocus>
  <ul ng-hide="loading" class="track-list">
    <li ng-repeat="track in tracks" class="track">
      <img ng-if="track.artwork_url" class="artwork" title="Add to the list" ng-src="{{track.artwork_url}}" ng-click="playlist.add(track)">
      <div class="content" ng-class="{'no-art': !track.artwork_url}" style="background-image: url({{track.waveform_url}})">
        <h3 class="title" title="Add to the list" ng-click="playlist.add(track)">{{track.title}}</h3>
        <a class="username" href="{{track.user.permalink_url}}" title="View user on SoundCloud" target="_blank">{{track.user.username}}</a>
        <a class="link" href="{{track.permalink_url}}"title="View track on SoundCloud" target="_blank"><img src="img/soundcloud_logo_black.png"></a>
      </div>
    </li>
  </ul>
  <div ng-show="loading" class="spinner"></div>
</div>
