$queue-width: 300px;

$main-font-color: #444;
$track-height: 100px;
$player-height: 300px;
$player-width: $player-height;
$page-width: 900px;
$soft-border: 1px solid #ddd;
$error-red: #ED4337;

@mixin filter($value) {
  -webkit-filter: $value;
     -moz-filter: $value;
      -ms-filter: $value;
       -o-filter: $value;
          filter: $value;
}

@mixin absolutely-center($size) {
    width: $size;
    height: $size;
    margin-top: (-$size) / 2;
    margin-left: (-$size) / 2;
}

@mixin transition($value) {
  -webkit-transition: $value;
     -moz-transition: $value;
      -ms-transition: $value;
       -o-transition: $value;
          transition: $value;
}

* {
    box-sizing: border-box;
}

body {
    overflow-y: scroll;
    color: $main-font-color;
    font-family: 'Alef', sans-serif;
}

[ng-click] {
    cursor: pointer;
}

.page {
    min-height: 500px;
    width: $page-width;
    margin: 40px auto;
}

.playlist {
    float: left;
    width: $queue-width;

    .player {
        height: $player-height;
        width: $player-width;
        position: relative;
        border: 1px solid #eee;

        &:hover {
            img {
                @include filter( blur(15px) );
                opacity: .8;
                width: 240px;
            }

            .media {
                opacity: 1;
            }

            .seek {
                opacity: 1;
            }
        }

        img {
            margin: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 300px;
            @include transition(width .1s ease);
        }

        .media {
            width: 100%;
            height: 100%;
            opacity: 0;

            .backdrop {
                background-color: #EEE;
                height: 100%;
                width: 100%;
            }
        }

        .center {
            position: absolute;
            top: 50%;
            left: 50%;

            i {
                display: block;
                position: relative;
                margin-top: -50%;
                left: -50%;
            }
        }

        .button {
            cursor: pointer;
            color: white;
            margin-top: -4px;
        }

        .play-button, .pause-button {
            font-size: 42px;
        }

        .play-button {
            left: 52%;
        }

        .skip-button {
            font-size: 26px;
            left: 70%;
        }

        .prev-button {
            font-size: 26px;
            left: 30%;
        }
    }

    .seek {
        height: 10px;
        width: 238px;
        position: absolute;
        bottom: 5px;
        left: 31px;
        cursor: pointer;
        opacity: 0;

        .full-length {
            width: 100%;
            height: 20%;
            position: absolute;
            top: 0;
            bottom: 5px;
            margin: auto;
            background-color: lighten($main-font-color, 10%);
        }

        .progress {
            background-color: white;
            height: 100%;
            float: left;
        }
    }

    .queue {
        margin: 20px 0;

        .spinner {
            margin: 7px auto;
        }
    }

    .track {
        font-size: 16px;
        min-height: 32px;
        line-height: 32px;
        padding: 0 10px;
        border-bottom: $soft-border;
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        position: relative;

        // remove track button
        .fa-times {
            position: absolute;
            right: 2px;
            top: 8px;
            background-color: white;
            box-shadow: -3px 0 5px white;
            opacity: 0;
        }

        &:hover {
            .fa-times {
                opacity: 1;
            }
        }

    }

    .error {
        color: $error-red;
    }

    .track:first-child {
        border-top: $soft-border;
    }

    .track-from-link {
        input[type=submit] {
            display: none;
        }

        .sc-link {
            border: 0;
            outline: none;
            color: $main-font-color;
            width: 100%;
        }

        .error {
            color: $error-red;
        }
    }
}

.song-finder {
    margin-left: $queue-width;
    padding-left: 20px;

    input[type=search] {
        color: lighten($main-font-color, 10%);
        border: none;
        font-size: 32px;
        margin: 20px 0;
        padding: 8px;
        width: 100%;
        outline: none;
        border-bottom: 2px solid #ccc;
    }

    .track {
        position: relative;
        display: block;
        width: 100%;
        height: $track-height;
        margin: 20px 0;

        .artwork {
            width: 100px;
            float: left;
        }

        .content {
            margin-left: 100px;
            padding: 10px;
            height: $track-height;
            background-size: 100% 100%;

            .title {
                font-size: 18px;
                margin: 10px;
            }

            .username {
                display: block;
                margin: 10px;
                text-decoration: none;
                font-size: 14px;
                color: #777;
            }

            .link {
                position: absolute;
                bottom: 10px;
                right: 10px;
                opacity: .6;

                &:hover {
                    opacity: .8;
                }
            }
        }

        .content.no-art {
            margin-left: 0;
        }
    }

    .spinner {
        margin: 40px auto;
    }

    .not-streamable {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 24px;
        color: $error-red;
    }
}

footer {
    border-top: $soft-border;
    min-height: 100px;
    width: $page-width;
    position: relative;
    margin: 0 auto;
    padding: 10px;
    overflow: auto;
    zoom: 1;

    .logo {
        display: inline-block;
        opacity: .6;
        padding: 5px;

        &:hover {
            opacity: .8;
        }
    }
}

.spinner {
    background-image: url('img/spinner.gif');
    width: 16px;
    height: 16px;
}
