
<div class="page" playlist>
  <div class="playlist">
    <div class="player" ng-class="{'no-art': !player.current.track.artwork_url}">
      <img class="artwork" ng-src="{{player.current.track.artwork_url | resizeArt:'300'}}" alt="">
      <div class="media" ng-show="player.current.sound">
        <a class="center button prev-button" ng-click="player.prev()">
          <i class="fa fa-step-backward"></i>
        </a>
        <a class="center button play-button" ng-click="player.play()" ng-show="player.current.sound.paused">
          <i class="fa fa-play"></i>
        </a>
        <a class="center button pause-button" ng-click="player.pause()" ng-hide="player.current.sound.paused">
          <i class="fa fa-pause"></i>
        </a>
        <a class="center button skip-button" ng-click="player.next()">
          <i class="fa fa-step-forward"></i>
        </a>
      </div>
      <div class="song-status" ng-show="player.current.position">
        <div class="position">{{player.current.position | playTime}}</div>
        <div class="seek" seek>
          <div class="full-length">
            <div class="progress" style="width: {{player.current.position / player.current.sound.durationEstimate * 100}}%;"></div>
          </div>
        </div>
        <div class="duration">{{player.current.sound.durationEstimate | playTime}}</div>
      </div>
    </div>
    <ul class="queue">
      <li ng-repeat="track in playlist track by $index" title="Play track" class="track" ng-click="player.playTrack($index)" ng-class="{error: track.error}">
        <i ng-show="$index === player.current.index" class="fa" ng-class="player.current.sound.paused ? 'fa-volume-off' : 'fa-volume-up'"></i>
        {{track.title}}
        <i class="fa fa-times" ng-click="playlist.remove($index, $event)" title="Remove track"></i>
      </li>
      <li class="track">
        <div link-to-track></div>
      </li>
    </ul>
  </div>
  <div song-finder></div>
  <footer>
  <a href="http://soundcloud.com/" target="_blank">
    <img class="logo" src="img/powered_by_soundcloud.png" alt="SoundCloud">
  </a>
  <a href="https://github.com/brandly/thelist" target="_blank">
    <img class="logo" src="img/GitHub-Mark-32px.png" alt="GitHub">
  </a>
</footer>
</div>
